.text{
    position: absolute;
    left:20px;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-decoration: none;
    

}
.text:hover{
    color:white;
}

#refone{
    
    color: white;
    position: absolute;
    right:25px;
    font-weight: bolder;
    text-decoration: none;
}
#reftwo{
    
    color: white;
    position: absolute;
    right:90px;
    font-weight: bolder;
    text-decoration: none;
    
}
nav{
    background-color: #1f2833;
    z-index: -2;
}


